.advantages-list {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem 0 4.6rem;
    min-height: 14.6rem;

    border-bottom: 1px solid var(--stroke-color);

    @include breakpoint(tablet) {
      gap: 2rem;
      padding: 2rem 0 3.5rem;
      min-height: 11rem;
    }

    @include breakpoint(small-tablet) {
      flex-direction: column;
      gap: 1rem;
      padding: 2rem 0 3rem;
      min-height: 0;
    }

    @include breakpoint(mobile) {
      padding: 2rem 0;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      @include breakpoint(small-tablet) {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }

  &__title {
    max-width: 63.8rem;

    font: var(--title-h3);
    text-transform: uppercase;
    color: #000;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    max-width: 52.6rem;

    font: var(--text-t2);
  }
}