.company {
  &__about {
    padding: 6.8rem 0 10rem;

    .numbers-slider {
      margin-top: 10rem;
    }
  }

  &__video {
    padding-bottom: 12rem;
  }

  &__achievements {
    padding-bottom: 12.8rem;
  }

  &__achievements-inner {
    padding: 3.5rem 3.5rem 6.6rem;

    border-radius: 2rem;
    background-color: var(--light-bg-color);
  }

  &__achievements-list {
    max-width: 128rem;
    margin-left: auto;
  }

  &__achievements-item {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: flex-end;
    padding: 3rem 0;

    border-bottom: 1px solid var(--stroke-color);

    &:first-child {
      padding-top: 0;
    }
  }

  &__achievements-number-block {
    display: flex;
    align-items: flex-end;
    gap: 4rem;
  }

  &__achievements-number {
    margin-bottom: -2.5rem;

    font: var(--title-h2);
    color: var(--accent-color);
  }

  &__achievements-desc {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    max-width: 17rem;

    font: var(--text-t2);
  }

  &__achievements-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    padding: 0.2rem 1.5rem 0;

    border: 1px solid var(--stroke-color);
    border-radius: 3rem;

    font: var(--text-t4);
    text-transform: uppercase;
    color: var(--title-color);
  }

  &__team {
    padding-bottom: 10rem;

    .section-header {
      margin-bottom: 4rem;
    }
  }

  &__team-slider {
    margin: 0 0 4rem;

    overflow: visible;

    &:last-of-type {
      margin-bottom: 0;
    }

    .swiper-wrapper {
      transition: linear;

      &.none {
        transition-duration: 10000000s !important;
      }
    }
  }

  &__team-slide {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 33.4rem;
    height: 48rem;
    padding: 3rem;

    border-radius: 2rem;
    overflow: hidden;

    color: #fff;

    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 3.9rem 7.4rem rgba(51, 51, 51, 0.35);

      .company__team-content {
        gap: 2rem;
      }

      .company__team-text {
        height: var(--text-height);
      }
    }
  }

  &__team-img {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__team-content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 0;

    transition: 0.3s;
  }

  &__team-title {
    max-width: 22rem;

    font: var(--medium) 2.4rem/120% var(--main-ff);
  }

  &__team-text {
    max-width: 27rem;
    height: 0;

    overflow: hidden;

    font: var(--text-t5);

    transition: 0.3s;

    &--js-hide {
      position: absolute;
      opacity: 0;

      height: auto;

      visibility: hidden;
    }
  }

  &__history {
    padding: 7rem 0 10rem;
    background-color: var(--light-bg-color);
  }

  &__history-title {
    margin-bottom: 5rem;

    font: var(--text-t2);
    text-transform: uppercase;
    color: var(--title-color);
  }

  &__history-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    max-width: 135.7rem;
    margin-left: 8rem;
  }

  &__history-numbers {
    position: relative;
    min-width: 0;
  }

  &__history-numbers-slider {
    position: static;

    width: auto;
    margin: 0;

    .slider-navigation {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__history-numbers-slider {
    cursor: grab;

    font: var(--regular) 55rem/95% var(--secondary-ff);
    letter-spacing: 0.01em;
    color: rgba(57, 89, 55, 0.2);
  }

  &__history-numbers-sub-slider {
    width: auto;
    margin: -6rem auto 0;

    .swiper-wrapper {
      justify-content: center;
    }
  }

  &__history-numbers-sub-slide {
    width: auto;

    cursor: pointer;
    opacity: 0.2;

    font: var(--text-t3);
    letter-spacing: -0.01em;
    color: var(--title-color);

    transition: 0.3s;

    &.swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  &__history-content {
    min-width: 0;
    max-width: 68.3rem;

    cursor: default;
  }

  &__history-content-title {
    margin-bottom: 2rem;

    font: var(--title-h3);
    text-transform: uppercase;
    color: var(--title-color);
  }

  &__history-content-text {
    margin-bottom: 3rem;

    font: var(--text-t4);
  }

  &__history-content-img-block {
    max-width: 61.2rem;

    border-radius: 2rem;
    overflow: hidden;
  }

  &__history-content-img {
    position: relative;
    padding-top: 66.01%;

    img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__activities {
    padding-bottom: 10rem;
    background-color: var(--bg-color);
  }

  &__partners {
    padding-bottom: 15rem;
  }
}