.company {
  &__about {
    padding: 6.8rem 0 10rem;

    @include breakpoint(tablet) {
      padding: 6.6rem 0 7rem;
    }

    @include breakpoint(small-tablet) {
      padding: 6.4rem 0 5rem;
    }

    @include breakpoint(mobile) {
      padding: 6rem 0 3rem;
    }

    .numbers-slider {
      margin-top: 10rem;

      @include breakpoint(tablet) {
        margin-top: 8rem;
      }

      @include breakpoint(small-tablet) {
        margin-top: 7rem;
      }

      @include breakpoint(mobile) {
        margin-top: 5rem;
      }
    }
  }

  &__video {
    padding-bottom: 12rem;

    @include breakpoint(tablet) {
      padding-bottom: 10rem;
    }

    @include breakpoint(small-tablet) {
      padding-bottom: 8rem;
    }

    @include breakpoint(mobile) {
      padding-bottom: 6rem;
    }
  }

  &__achievements {
    padding-bottom: 12.8rem;

    @include breakpoint(tablet) {
      padding-bottom: 10rem;
    }

    @include breakpoint(small-tablet) {
      padding-top: 6rem;
      padding-bottom: 8rem;
      background-color: #F2F2F2;
    }

    @include breakpoint(mobile) {
      padding-bottom: 6rem;
    }
  }

  &__achievements-inner {
    padding: 3.5rem 3.5rem 6.6rem;

    border-radius: 2rem;
    background-color: var(--light-bg-color);

    @include breakpoint(tablet) {
      padding: 3.5rem;
    }

    @include breakpoint(small-tablet) {
      padding: 0;
    }
  }

  &__achievements-list {
    max-width: 128rem;
    margin-left: auto;

    @include breakpoint(tablet) {
      margin-top: 2rem;
    }

    @include breakpoint(small-tablet) {
      margin-top: 1rem;
    }
  }

  &__achievements-item {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: flex-end;
    padding: 3rem 0;

    border-bottom: 1px solid var(--stroke-color);

    @include breakpoint(tablet) {
      padding: 2.8rem 0;
      grid-template-columns: auto 1fr;
      gap: 2rem;
    }

    @include breakpoint(small-tablet) {
      padding: 2.4rem 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include breakpoint(mobile) {
      padding: 2rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      @include breakpoint(mobile) {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__achievements-number-block {
    display: flex;
    align-items: flex-end;
    gap: 4rem;

    @include breakpoint(tablet) {
      gap: 3rem;
    }

    @include breakpoint(small-tablet) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }

    @include breakpoint(mobile) {
      grid-column: 2 / 3;
      gap: 1rem;
      flex-shrink: 0;
    }
  }

  &__achievements-number {
    margin-bottom: -2.5rem;

    font: var(--title-h2);
    color: var(--accent-color);

    @include breakpoint(mobile) {
      margin-bottom: 0;
    }
  }

  &__achievements-desc {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    max-width: 17rem;

    font: var(--text-t2);
  }

  &__achievements-tag-block {
    @include breakpoint(tablet) {
      display: flex;
      justify-content: flex-end;
    }

    @include breakpoint(mobile) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-content: flex-start;
    }
  }

  &__achievements-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 3.5rem;
    padding: 0.2rem 1.5rem 0;

    border: 1px solid var(--stroke-color);
    border-radius: 3rem;

    font: var(--text-t4);
    text-transform: uppercase;
    color: var(--title-color);

    transition: 0.3s;

    @include breakpoint(small-tablet) {
      min-height: 3.2rem;
    }

    @include breakpoint(mobile) {
      min-height: 3rem;
    }

    &:hover {
      background-color: rgba(27, 80, 26, 0.1);
      border-color: rgba(27, 80, 26, 0.1);
      color: var(--accent-color);
    }
  }

  &__team {
    padding-bottom: 10rem;

    @include breakpoint(tablet) {
      padding-bottom: 8rem;
    }

    @include breakpoint(small-tablet) {
      padding-top: 6rem;
      padding-bottom: 7rem;
    }

    @include breakpoint(mobile) {
      padding-bottom: 6rem;
    }

    .section-header {
      margin-bottom: 4rem;

      @include breakpoint(tablet) {
        margin-bottom: 3rem;
      }

      @include breakpoint(small-tablet) {
        margin-bottom: 1rem;
      }

      @include breakpoint(mobile) {
        margin-bottom: 0;
      }
    }
  }

  &__team-slider {
    margin: 0 0 4rem;

    overflow: visible;

    @include breakpoint(tablet) {
      margin-bottom: 3rem;
    }

    @include breakpoint(small-tablet) {
      display: none;
    }

    @include breakpoint(mobile) {
      margin-left: 1rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .swiper-wrapper {
      transition: linear;
      align-items: flex-start;

      @include breakpoint(small-tablet) {
        transition: inherit;
      }
    }
  }

  &__team-slide {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 33.4rem;
    height: 48rem;
    padding: 3rem;

    border-radius: 2rem;
    overflow: hidden;
    cursor: default;

    color: #fff;

    transition: 0.3s;

    @include breakpoint(tablet) {
      width: 25rem;
      height: 35rem;
      padding: 2rem;
    }

    @include breakpoint(small-tablet) {
      width: 19rem;
      height: auto;
      padding: 0;
      border-radius: 0;

      color: var(--title-color);
    }

    @include breakpoint(mobile) {
      width: 14.5rem;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 3.9rem 7.4rem rgba(51, 51, 51, 0.35);

      .company__team-content {
        gap: 2rem;
      }

      .company__team-text {
        height: var(--text-height);
      }

      @include breakpoint(small-tablet) {
        transform: scale(1);
        box-shadow: none;

        .company__team-content {
          gap: 0.5rem;
        }

        .company__team-text {
          height: auto;
        }
      }
    }
  }

  &__team-img-block {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    @include breakpoint(small-tablet) {
      position: static;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
  }

  &__team-img {
    position: relative;

    width: 100%;
    height: 100%;

    @include breakpoint(small-tablet) {
      height: auto;
      padding-top: 128.27%;

      border-radius: 1rem;
      overflow: hidden;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__team-content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 0;

    transition: 0.3s;

    @include breakpoint(small-tablet) {
        gap: 0.5rem;
    }
  }

  &__team-title {
    max-width: 22rem;

    font: var(--medium) 2.4rem/120% var(--main-ff);

    @include breakpoint(tablet) {
      font-size: 2rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 1.8rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  &__team-text {
    max-width: 27rem;
    height: 0;

    overflow: hidden;

    font: var(--text-t5);

    transition: 0.3s;

    @include breakpoint(small-tablet) {
      height: auto;
      opacity: 0.6;
    }

    &--js-hide {
      position: absolute;
      opacity: 0;

      height: auto;

      visibility: hidden;
    }
  }

  &__mobile-team-slider {
    display: none;

    @include breakpoint(small-tablet) {
      display: block;
      margin-left: 1.5rem;
    }
  }

  &__history {
    padding: 7rem 0 10rem;
    background-color: var(--light-bg-color);

    @include breakpoint(tablet) {
      padding: 6rem 0 8rem;
    }

    @include breakpoint(small-tablet) {
      padding: 6rem 0 7rem;
    }

    @include breakpoint(mobile) {
      padding: 6rem 0;
    }

    .section-header {
      margin-bottom: 5rem;

      @include breakpoint(tablet) {
        margin-bottom: 4rem;
      }

      @include breakpoint(small-tablet) {
        margin-bottom: 3rem;
      }

      @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
      }

      &__line {
        display: none;

        @include breakpoint(mobile) {
          display: block;
        }
      }
    }
  }

  &__history-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    max-width: 135.7rem;
    margin-left: 8rem;

    @include breakpoint(tablet) {
      flex-direction: column;
      gap: 3rem;
      margin-left: 0;
    }

    @include breakpoint(mobile) {
      gap: 2rem
    }
  }

  &__history-numbers {
    position: relative;
    min-width: 0;
  }

  &__history-numbers-slider {
    position: static;

    width: auto;
    margin: 0;

    overflow: visible;

    @include breakpoint(tablet) {
      display: none;
    }

    .slider-navigation {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__history-numbers-slide {
    cursor: grab;

    font: var(--regular) 55rem/95% var(--secondary-ff);
    letter-spacing: 0.01em;
    color: rgba(57, 89, 55, 0.2);
  }

  &__history-numbers-sub-slider {
    width: auto;
    margin: -6rem auto 0;

    @include breakpoint(tablet) {
      margin: 0;
    }

    .swiper-wrapper {
      justify-content: center;

      @include breakpoint(tablet) {
        justify-content: flex-start;
      }
    }
  }

  &__history-numbers-sub-slide {
    width: auto;

    cursor: pointer;
    opacity: 0.2;

    font: var(--text-t3);
    letter-spacing: -0.01em;
    color: var(--title-color);

    transition: 0.3s;

    @include breakpoint(tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.2rem;
      padding: 0 1rem;

      border: 1px solid var(--stroke-color);
      border-radius: 3rem;
      opacity: 1;

      font-weight: 500;
    }

    @include breakpoint(mobile) {
      font-size: 1.2rem;
    }


    &.swiper-slide-thumb-active {
      opacity: 1;

      @include breakpoint(tablet) {
        color: var(--accent-color);
        border-color: rgba(27, 80, 26, 0.1);
        background-color: rgba(27, 80, 26, 0.1);
      }
    }
  }

  &__history-content {
    min-width: 0;
    max-width: 68.3rem;
    flex-shrink: 0;

    cursor: default;

    @include breakpoint(tablet) {
      max-width: none;
      overflow: visible;
    }
  }

  &__history-content-slider {
    @include breakpoint(tablet) {
      overflow: visible;
    }
  }

  &__history-content-slide {
    @include breakpoint(tablet) {
      width: 58rem;
    }

    @include breakpoint(small-tablet) {
      width: 40rem;
    }

    @include breakpoint(mobile) {
      width: 29.8rem;
    }
  }

  &__history-content-title {
    margin-bottom: 2rem;

    font: var(--title-h3);
    text-transform: uppercase;
    color: var(--title-color);
  }

  &__history-content-text {
    margin-bottom: 3rem;

    font: var(--text-t4);

    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__history-content-img-block {
    margin-top: auto;
    max-width: 61.2rem;

    border-radius: 2rem;
    overflow: hidden;
  }

  &__history-content-img {
    position: relative;
    padding-top: 66.01%;

    img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__activities {
    padding-bottom: 10rem;
    background-color: var(--bg-color);

    @include breakpoint(tablet) {
      padding: 8rem 0;
    }

    @include breakpoint(small-tablet) {
      padding: 7rem 0;
    }

    @include breakpoint(mobile) {
      padding: 6rem 0;
    }
  }

  &__partners {
    padding-bottom: 15rem;

    @include breakpoint(tablet) {
      padding-bottom: 12rem;
    }

    @include breakpoint(small-tablet) {
      padding-bottom: 10rem;
    }

    @include breakpoint(mobile) {
      padding-bottom: 8rem;
    }
  }
}