.contacts {
    padding-bottom: 15rem;

    .breadcrumbs {
        margin-bottom: 3.7rem;
    }

    &__title {
        margin-bottom: 7rem;

        font: var(--title-h1);
        color: var(--title-color);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 5.3rem;
        padding: 5rem;

        border-radius: 2rem;
        background-color: #fff;
    }
    
    &__content-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__link {
        display: inline-block;
        margin-bottom: 1rem;

        font: var(--title-h3);
        text-transform: uppercase;
        color: var(--accent-color);
    }

    &__desc {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 3.5rem;
        padding: 0 1rem;
        margin-top: auto;


        border: 1px solid var(--stroke-color);
        border-radius: 2rem;

        font: var(--text-t3);
        font-weight: 500;
        color: var(--title-color);

        img {
            width: 2.4rem;
            height: 2.2rem;
        }
    }

    &__info-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0 1.7rem;

        border-bottom: 1px dashed var(--stroke-color);

        &:first-child {
            padding-top: 0;
        }
    }

    &__info-title {
        font: var(--text-t2);
        text-transform: uppercase;
    }

    &__info-link, &__info-address {
        font: var(--text-t4);
        color: var(--title-color);

        transition: 0.3s;
    }

    &__info-link:hover {
        opacity: 0.7;
    }

    &__content-map {
        height: 65.8rem;

        border-radius: 2rem;
        overflow: hidden;
    }
}