.directions-single {
  &__description {
    padding: 10rem 0;

    @include breakpoint(tablet) {
      padding: 8rem 0;
    }

    @include breakpoint(small-tablet) {
      padding: 7rem 0;
    }

    @include breakpoint(mobile) {
      padding: 6rem 0;
    }

    .narrow-container {
      @include breakpoint(tablet) {
        margin-top: 2.5rem;
      }

      @include breakpoint(mobile) {
        margin-top: 1.5rem;
      }
    }

    .features-slider {
      margin-top: 10rem;

      @include breakpoint(tablet) {
        margin-top: 8rem;
      }

      @include breakpoint(small-tablet) {
        margin-top: 6rem;
      }

      @include breakpoint(mobile) {
        margin-top: 5rem;
      }
    }
  }

  &__types {
    padding: 10rem 0;

    background-color: #fff;

    @include breakpoint(tablet) {
      padding: 8rem 0;
    }

    @include breakpoint(small-tablet) {
      padding: 7rem 0;
    }

    @include breakpoint(mobile) {
      padding: 6rem 0;
    }
  }

  &__types-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    max-width: 131.7rem;
    margin-top: 1rem;
    margin-left: auto;

    counter-reset: types;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 2.6rem;
    }

    @include breakpoint(small-tablet) {
      gap: 2.4rem;
    }

    @include breakpoint(mobile) {
      gap: 2rem
    }
  }

  &__types-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3.5rem;
    min-height: 42.6rem;

    border-radius: 2rem;
    overflow: hidden;

    color: #fff;

    @include breakpoint(tablet) {
      min-height: 35rem;
      gap: 4.6rem;
      padding: 3rem;
    }

    @include breakpoint(small-tablet) {
      gap: 4.4rem;
      min-height: 30rem;
      padding: 2.4rem;
    }

    @include breakpoint(mobile) {
      gap: 4rem;
      min-height: 22.6rem;
      padding: 2rem;
    }

    &:hover {
      .directions-single__types-img {
        opacity: 1;
      }
    }

    &::before {
      counter-increment: types;
      content: counter(types);

      position: relative;
      z-index: 1;

      display: inline-block;

      font: var(--title-h2);
    }
  }

  &__types-img {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;

    transition: 0.5s;

    @include breakpoint(tablet) {
      opacity: 1;
    }
  }

  &__types-content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: auto;
  }

  &__types-title {
    font: var(--semi-bold) 3rem/120% var(--main-ff);
    text-transform: uppercase;
    letter-spacing: -0.01em;

    @include breakpoint(tablet) {
      font-size: 2.8rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 2.4rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.8rem;
    }
  }

  &__types-tags {
    margin: 0;

    .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding-bottom: 2px;

      @include breakpoint(small-tablet) {
        flex-wrap: nowrap;
        gap: 0;
      }
    }
  }

  &__types-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 3.5rem;
    padding: 0 1.5rem;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3rem;
    cursor: default;

    font: var(--text-t4);
    text-transform: uppercase;

    @include breakpoint(mobile) {
      height: 3rem;
    }
  }

  &__types-text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 50rem;

    font: var(--text-t2);
    opacity: 0.8;
  }

  &__features {
    padding: 10rem 0;

    @include breakpoint(tablet) {
      padding: 8rem 0;
    }

    @include breakpoint(small-tablet) {
      padding: 7rem 0;
    }

    @include breakpoint(mobile) {
      padding: 6rem 0;
    }

    .section-header__title {
      max-width: none;
    }

    .advantages-list {
      max-width: 131.6rem;
      margin-left: auto;

      @include breakpoint(tablet) {
        margin-top: 2.5rem;
      }

      @include breakpoint(small-tablet) {
        margin-top: 1.5rem;
      }
    }
  }

  &__video {
    padding-bottom: 15rem;

    @include breakpoint(tablet) {
      padding-bottom: 12rem;
    }

    @include breakpoint(small-tablet) {
      padding-bottom: 10rem;
    }

    @include breakpoint(mobile) {
      padding-bottom: 6rem;
    }
  }

  &__partners {
    padding-bottom: 15rem;

    @include breakpoint(tablet) {
      padding-bottom: 12rem;
    }

    @include breakpoint(small-tablet) {
      padding-bottom: 10rem;
    }

    @include breakpoint(mobile) {
      padding-bottom: 6rem;
    }

    .section-header {
      margin-bottom: 0.2rem;

      @include breakpoint(tablet) {
        margin-bottom: 2.5rem;
      }

      @include breakpoint(small-tablet) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__products {
    padding-bottom: 15rem;

    @include breakpoint(tablet) {
      padding-bottom: 12rem;
    }

    @include breakpoint(small-tablet) {
      padding-bottom: 10rem;
    }

    @include breakpoint(mobile) {
      padding-bottom: 8rem;
    }
  }

  &__products-slider-container {
    position: relative;

    @include breakpoint(tablet) {
      margin-top: 1rem;
    }

    .slider-navigation {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 3;

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }

  &__products-slider {
    position: relative;

    max-width: 131.7rem;
    margin: 0;
    margin-left: auto;

    overflow: visible;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      right: 100%;
      z-index: 2;

      width: 100%;
      height: 100%;

      background-color: var(--bg-color);

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }

  &__products-slide {
    position: relative;


    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 37.7rem;
    min-height: 41.9rem;
    padding: 1.5rem;

    border-radius: 2rem;
    background-color: #fff;

    @include breakpoint(tablet) {
      width: 31rem;
      min-height: 35rem;
    }

    @include breakpoint(small-tablet) {
      width: 27rem;
      min-height: 30rem;
    }

    @include breakpoint(mobile) {
      gap: 1rem;
      width: 23.2rem;
      min-height: 25.1rem;
      padding: 1rem;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      .directions-single__products-icon {
        transform: rotate(45deg);
      }

      .button {
        gap: 1rem;

        svg {
          width: 1.1rem;
        }
      }
    }
  }

  &__products-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.6rem;

    border-radius: 2rem;

    @include breakpoint(tablet) {
      height: 28rem;
    }

    @include breakpoint(small-tablet) {
      height: 22rem;
    }

    @include breakpoint(mobile) {
      height: 17rem;
      border-radius: 1rem;
    }

    img {
      width: 100%;
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;

      transition: 0.3s;
    }
  }

  &__products-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0.7rem;
    margin-top: auto;
  }

  &__products-title {
    font: var(--text-t4);
    text-transform: uppercase;
    color: var(--title-color);
  }

  &__products-icon {
    width: 1.6rem;
    height: 1.6rem;

    transition: 0.3s;
  }
}