.directions {
  padding-bottom: 15rem;

  @include breakpoint(tablet) {
    padding-bottom: 12rem;
  }

  @include breakpoint(small-tablet) {
    padding-bottom: 10rem;
  }

  @include breakpoint(mobile) {
    padding-bottom: 7rem;
  }

  &__title {
    max-width: 90rem;
    padding-top: 5rem;
    margin-bottom: 7rem;

    font: var(--regular) 25rem/75% var(--secondary-ff);
    color: var(--title-color);

    @include breakpoint(tablet) {
      padding-top: 4rem;
      margin-bottom: 5rem;

      font-size: 16rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 4rem;

      font-size: 12rem;
    }

    @include breakpoint(mobile) {
      padding-top: 2.6rem;
      margin-bottom: 2.8rem;

      font-size: 9rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
    }

    @include breakpoint(mobile) {
      gap: 2rem;
    }
  }

  &__item-link {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 42.8rem;
    padding: 4rem;

    border-radius: 2rem;
    overflow: hidden;

    color: #fff;

    @include breakpoint(tablet) {
      min-height: 46rem;
      padding: 3.5rem;
    }

    @include breakpoint(small-tablet) {
      min-height: 35rem;
      padding: 3rem;
    }

    @include breakpoint(mobile) {
      min-height: 18.1rem;
      padding: 2rem;
    }

    &:hover {
      .directions__item-img {
        opacity: 1;
      }

      .directions__item-text svg {
        transform: rotate(45deg);
      }
    }
  }

  &__item-img {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;

    transition: 0.5s;

    @include breakpoint(small-tablet) {
      opacity: 1;
    }
  }

  &__item-text {
    position: relative;
    z-index: 1;

    font: var(--title-h3-reg);
    text-transform: uppercase;

    @include breakpoint(small-tablet) {
      font-weight: 600;
    }

    span {
      display: inline;
    }

    svg {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin-left: 4rem;

      transition: 0.5s;

      @include breakpoint(tablet) {
        width: 2.5rem;
        height: 2.5rem  ;
        margin-left: 3rem;
      }

      @include breakpoint(small-tablet) {
        width: 2rem;
        height: 2rem;
        margin-left: 2.5rem;
      }

      @include breakpoint(mobile) {
        width: 1.3rem;
        height: 1.3rem;
        margin-left: 1.5rem;
      }

      @media (max-width: 330px) {
        display: block;
        margin-top: 0.5rem;
        margin-left: 0;
      }
    }
  }
}