.error {
  padding-top: calc(var(--header-height) + 7rem);
  min-height: 100vh;

  background: url(../img/error-bg.jpg) no-repeat center;
  background-size: cover;

  color: #fff;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include breakpoint(tablet) {
      flex-direction: column;
      gap: 13rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60rem;
  }

  &__desc {
    margin-bottom: 2rem;

    opacity: 0.5;

    font: var(--text-t3);
    text-transform: uppercase;

    @include breakpoint(mobile) {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    margin-bottom: 4rem;

    font: var(--title-h3);
    text-transform: uppercase;

    @include breakpoint(tablet) {
      margin-bottom: 3rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 1.5rem;
    }
  }

  &__link {
    height: 4rem;
    font-size: 1.6rem;

    @include breakpoint(mobile) {
      font-size: 1.4rem;
      height: 3.3rem;
    }
  }

  &__number {
    padding-top: 7rem;

    font: var(--regular) 87rem/75% var(--secondary-ff);
    color: var(--bg-color);

    @include breakpoint(tablet) {
      padding-top: 0;
      font-size: 70rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 60rem;
    }

    @include breakpoint(mobile) {
      font-size: 48rem;
      margin-bottom: -13rem;
    }
  }
}