.filter-tags {
  margin-left: 0;
  margin-right: 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__item {
    width: auto;
  }

  &__label {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.5rem;

    border-radius: 3rem;
    border: 1px solid rgba(11, 16, 12, 0.4);
    cursor: pointer;

    font: var(--text-t4);
    color: var(--title-color);
    text-transform: uppercase;
    white-space: nowrap;

    transition: 0.3s;
  }

  input:checked + &__label {
    border-color: rgba(27, 80, 26, 0.1);
    background-color: rgba(27, 80, 26, 0.1);
    color: #1B501A;
  }
}