.footer {
  padding: 7rem 0 2.8rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  &__logo {
    img {
      width: 7rem;
      height: 10.2rem;
    }
  }

  &__content {
    max-width: 131.7rem;
    width: 100%;
  }

  &__row {
    display: flex;
    grid-template-columns: auto 1fr;
    gap: 6rem;

    &:first-child {
      padding-bottom: 4.4rem;
      border-bottom: 1px solid rgba(60, 60, 58, 0.2);
    }

    &:last-child {
      padding-top: 3rem;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem 7.7rem;
    width: 100%;
    max-width: 73.2rem;
  }

  &__menu-item {
    font: var(--text-t2);
    text-transform: uppercase;
    color: #3C3C3A;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  &__address {
    max-width: 26rem;

    font: var(--text-t4);
    color: #3C3C3A;
  }

  &__contacts-footer {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  &__socials {
    display: flex;
    gap: 1.5rem;

    svg {
      width: 4.6rem;
      height: 4.6rem;
    }
  }

  &__phone {
    font: var(--title-h3);
    color: var(--accent-color);
  }

  &__confidence {
    width: 100%;
    max-width: 73.2rem;

    font: var(--text-t4);
    color: #414141;
  }

  &__developer {
    display: flex;
    gap: 2.2rem;

    font: var(--text-t4);
    color: #414141;

    svg {
      width: 8.8rem;
      height: 2.2rem;
    }
  }
}