.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;

  padding: 3.2rem 0 3rem;

  border-bottom: 1px solid transparent;

  font: 500 2.4rem/120% var(--main-ff);
  color: #fff;

  @include breakpoint(tablet) {
    padding: 2.4rem 0;
    font-size: 1.8rem;
  }

  @include breakpoint(small-tablet) {
    padding: 1.6rem 0;
    font-size: 1.6rem;
  }

  @include breakpoint(mobile) {
    padding: 0.9rem 0;
  }

  &--white {
    padding: 2rem;

    background-color: #E5E2DB;
    border-color: var(--title-color);

    animation: fadeIn ease-out 300ms;

    color: var(--title-color);

    transition: 0.4s;

    @include breakpoint(tablet) {
      padding: 1.8rem 0;
    }

    @include breakpoint(small-tablet) {
      padding: 1.6rem 0;
    }

    @include breakpoint(mobile) {
      padding: 0.9rem 0;
    }

    .header__menu-link {
      &:hover {
        color: var(--accent-color);
        opacity: 1;
      }
    }

    .header__burger {
      &::before, &::after {
        background-color: var(--title-color);

        &:hover {
          opacity: 1;
          background-color: var(--accent-color);
        }
      }
    }

    .header__phone {
      border-color: var(--title-color);
    }
  }

  @keyframes fadeIn {
      from {
        transform: translateY(-100%);
      }

    to {
      transform: translateY(0);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 14rem;
    align-items: flex-start;

    @include breakpoint(tablet) {
      gap: 4rem;
    }

    @include breakpoint(small-tablet) {
      align-items: center;
    }
  }

  &__logo {
    img {
      width: 7.3rem;
      height: 10.6rem;

      @include breakpoint(tablet) {
        width: 6rem;
        height: 8rem;
      }

      @include breakpoint(mobile) {
        width: 4rem;
        height: 5.8rem;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.4rem;
    gap: 1rem;

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: stretch;
    }

    @include breakpoint(small-tablet) {
      flex-direction: row;
      align-items: center;
      padding-top: 0;
    }
  }

  &__column {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    gap: 4rem;

    @include breakpoint(tablet) {
      gap: 2.4rem;
    }

    @include breakpoint(small-tablet) {
      display: none;
    }
  }

  &__menu-link {
    transition: 0.3s;

    &:hover {
      color: #fff;
      opacity: 0.8;
    }
  }

  &__burger {
    position: relative;
    width: 4.7rem;
    height: 1.2rem;
    margin-left: 4rem;

    @include breakpoint(tablet) {
      margin-left: auto;
    }

    @include breakpoint(small-tablet) {
      margin-left: 2rem;
    }

    @include breakpoint(mobile) {
      margin-left: 0;
    }

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 2px;

      border-radius: 0.2rem;
      background-color: #fff;

      transition: 0.4s;
    }

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 85%;
      height: 2px;

      border-radius: 0.2rem;
      background-color: #fff;

      transition: 0.4s;
    }

    &:hover::after, &:hover::before {
      opacity: 0.8;
    }
  }


  &__phone {
    display: flex;
    align-items: center;
    height: 3.3rem;
    padding: 0 1.5rem;
    margin-left: 9rem;

    border: 1px solid #fff;
    border-radius: 99.9rem;

    font: var(--text-t4);

    @include breakpoint(tablet) {
      margin-left: auto;
    }

    @include breakpoint(small-tablet) {
      height: 3rem;
    }
  }
}