.job {
  position: relative;

  padding: 0 0 14.5rem;

  background-color: #fff;
  color: #fff;

  @include breakpoint(tablet) {
    padding-bottom: 12rem;
  }

  @include breakpoint(small-tablet) {
    padding-bottom: 9rem;
  }

  @include breakpoint(mobile) {
    padding-bottom: 7rem;
  }

  .container {
    display: flex;
    justify-content: center;
  }
  
  &__inner {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 7rem;
    width: 100%;
    height: 100%;

    border-radius: 2rem;
    background: var(--accent-color) url("../img/wheat.svg") no-repeat center;
    background-size: cover;
    overflow: hidden;
    will-change: clip-path;
    clip-path: inset(0% 50% 100% round 2rem);

    transition: 0.6s linear;

    @include breakpoint(tablet) {
      padding: 5rem;
    }

    @include breakpoint(small-tablet) {
      padding: 3.6rem;
    }

    @include breakpoint(mobile) {
      padding: 2rem;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: flex-start;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  }

  &__title {
    margin-top: -4rem;

    backface-visibility: hidden;
    cursor: default;

    font: var(--title-h1);

    @include breakpoint(tablet) {
      margin-top: 0;
    }
  }

  &__slider {
    min-width: 0;

    background-color: var(--bg-color);
    border-radius: 4rem;
    overflow: hidden;
    backface-visibility: hidden;

    @include breakpoint(mobile) {
      border-radius: 2rem;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 35.8rem;
    gap: 2rem;
    padding: 3.5rem;

    @include breakpoint(tablet) {
      padding: 3rem;
      min-height: 30rem;
    }

    @include breakpoint(small-tablet) {
      min-height: 0;
      padding: 2rem 2rem 8.4rem;
    }
  }

  &__slide-top {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    gap: 2rem;

    @include breakpoint(tablet) {
      gap: 1.6rem;
    }

    @include breakpoint(small-tablet) {
      gap: 1rem;
    }

    @include breakpoint(mobile) {
      gap: 0.2rem;
    }
  }

  &__slide-img {
    width: 15.7rem;
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    overflow: hidden;

    @include breakpoint(tablet) {
      width: 12rem;
    }

    @include breakpoint(small-tablet) {
      width: 10rem;
    }

    @include breakpoint(mobile) {
      width: 7.4rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slide-text {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 3.3rem 0 0 4.4rem;

    font: var(--text-t1);
    font-weight: 500;
    color: #3E3E3E;

    @include breakpoint(tablet) {
      padding: 2.6rem 0 0 3.3rem;
    }

    @include breakpoint(small-tablet) {
      padding: 2rem 0 0 2.8rem;
    }

    @include breakpoint(mobile) {
      padding: 1.2rem 0 0 2.2rem;
    }

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 0;

      width: 6.9rem;
      height: 6.9rem;


      background: url("../img/quotes.svg") no-repeat center;
      background-size: cover;

      @include breakpoint(tablet) {
        width: 5rem;
        height: 5rem;
      }

      @include breakpoint(small-tablet) {
        width: 4rem;
        height: 4rem;
      }


    }

    p {
      position: relative;
      z-index: 1;
    }
  }

  &__slide-author {
    display: flex;
    flex-direction: column;
    padding-right: 12rem;

    @include breakpoint(small-tablet) {
      padding-right: 0;
    }

    span:first-child {
      font: var(--text-t1);
      color: #3E3E3E;
    }

    span:last-child {
      font: var(--text-t2);
      color: #717171;
    }
  }

  .slider-navigation {
    position: absolute;
    right: 3.5rem;
    bottom: 3.5rem;
    z-index: 1;

    @include breakpoint(tablet) {
      right: 3rem;
      bottom: 3rem;
    }

    @include breakpoint(small-tablet) {
      right: 2rem;
      bottom: 2rem;
    }
  }

  .swiper-pagination {
    position: absolute;
    top: 3.5rem;
    right: 3.7rem;
    left: auto;
    bottom: auto;

    width: auto;

    @include breakpoint(tablet) {
      top: 2rem;
      right: 4rem;

    }

    @include breakpoint(small-tablet) {
      top: auto;
      right: auto;
      bottom: 2rem;
      left: 2.2rem;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: flex-end;

    backface-visibility: hidden;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  &__employments {
    display: flex;
    align-items: flex-start;
    gap: 5rem;

    @include breakpoint(small-tablet) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__employments-images {
    display: flex;

    img {
      width: 10rem;
      aspect-ratio: 1 / 1;

      border-radius: 50%;

      @include breakpoint(mobile) {
        width: 6rem;
      }

      &:not(:first-child) {
        margin-left: -2rem;
      }
    }
  }

  &__employments-text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 34rem;

    opacity: 0.7;

    font: var(--text-t2);
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.4rem;

    @include breakpoint(small-tablet) {
      gap: 2rem;
    }
  }

  &__link {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5rem;
    padding-top: 2rem;

    font: var(--title-h3-reg);
    text-transform: uppercase;

    @include breakpoint(small-tablet) {
      gap: 3.2rem;
    }

    @include breakpoint(mobile) {
      gap: 2rem;
    }

    &::before {
      content: '';

      position: absolute;
      right: 0;
      top: 0.7rem;

      width: calc(100% + 2.4rem);
      height: 2.6rem;

      border-top: 1px solid #FDFCFC;
      border-radius: 18rem 0 0 0;

      @include breakpoint(small-tablet) {
        width: calc(100% + 1.1rem);
        height: 1.8rem;
        top: 1.2rem;
      }

      @include breakpoint(mobile) {
        height: 1rem;
      }
    }

    svg {
      width: 3rem;
      height: 3rem;

      @include breakpoint(small-tablet) {
        width: 2.2rem;
        height: 2.2rem;
      }

      @include breakpoint(mobile) {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}