.links-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  overflow: visible;
  
  &--white {
    .links-list__link {
      border-color: #fff;
      color: #fff;

      &.active,
      &:hover {
        background-color: #fff;
        color: var(--title-color);
      }

      @include breakpoint(small-tablet) {
        &:hover {
          background-color: transparent;
          color: #fff;
        }
      }
    }
  }

  &--green {
    .links-list__link {
      border-color: var(--accent-color);
      color: var(--accent-color);

      &.active,
      &:hover {
        background-color: var(--accent-color);
        color: #fff;
      }

      @include breakpoint(small-tablet) {
        &:hover {
          background-color: transparent;
          color: var(--accent-color);
        }
      }
    }
  }

  .swiper-wrapper {
    padding-bottom: 2px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.9rem;
    padding: 0 2rem;
    width: auto;

    border-radius: 1.5rem;
    border: 1px solid transparent;

    font: var(--text-t4);
    text-transform: uppercase;

    transition: 0.3s;

    @include breakpoint(mobile) {
      height: 4.4rem;
      padding: 0 1rem;

      border-radius: 1rem;
    }
  }
}