.main-titles {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @include breakpoint(tablet) {
    flex-direction: column;
  }

  &__links {
    display: none;

    @include breakpoint(tablet) {
      display: flex;
      gap: 4rem;
      flex-wrap: wrap;
      margin-bottom: 3rem;
    }

    @include breakpoint(mobile) {
      gap: 1.4rem 2rem;
      margin-bottom: 1rem;
    }
  }

  &__link {
    height: 4.2rem;
    padding: 0 1.6rem;

    border-radius: 1rem;
    opacity: 0.25;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    @include breakpoint(mobile) {
      padding: 0 1rem;
    }
  }

  &__title {
    font: var(--regular) 25rem/75% var(--secondary-ff);
    color: var(--title-color);
    opacity: 0.1;

    transition: 0.3s;

    @include breakpoint(tablet) {
      font-size: 16rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 12rem;
    }

    @include breakpoint(mobile) {
      font-size: 9rem;
    }

    &--active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    a {
      display: block;
    }
  }
  
  h2 {
    @include breakpoint(tablet) {
      display: none;
    }
  }
}