.modal {
  body:not(.loaded) & {
      opacity: 0;
      visibility: hidden;
  }

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1500;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);

  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }

  &__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    max-width: 128.1rem;
    margin: 0 auto;

    @include breakpoint(tablet) {
      height: 100%;
      margin-top: auto;
      padding: 10rem 0 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transform: none;
      top: 0;
    }
  }

  &__inner {
    position: relative;

    min-width: 0;
    margin: 6rem 0;
    padding: 5rem 4rem 5rem 5rem;
    min-height: 50rem;

    background-color: var(--light-bg-color);
    border-radius: 2rem;

    @include breakpoint(tablet) {
      padding: 5rem 4rem;
      border-radius: 2rem 2rem 0 0;
      margin: 0;
    }

    @include breakpoint(small-tablet) {
      padding: 4rem 3rem;
    }

    @include breakpoint(mobile) {
      padding: 3rem 1.5rem;
    }
  }

  &__close {
    position : absolute;
    top: 0;
    left: calc(100% + 1.5rem);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.7rem;
    height: 5.7rem;

    background-color: #fff;
    border-radius: 50%;

    color: var(--accent-color);

    transition: 0.3s;

    &:hover {
      background-color: var(--accent-color);
      color: #fff;
    }

    @include breakpoint(tablet) {
      left: auto;
      top: auto;
      bottom: calc(100% + 1rem);
      right: 1.5rem;

      width: 5.4rem;
      height: 5.4rem;
    }

    @include breakpoint(small-tablet) {
      width: 4.8rem;
      height: 4.8rem;
    }

    @include breakpoint(mobile) {
      width: 4.2rem;
      height: 4.2rem;
    }

    svg {
      width: 2rem;
      height: 2rem;

      @include breakpoint(tablet) {
        width: 1.8rem;
        height: 1.8rem;
      }

      @include breakpoint(small-tablet) {
        width: 1.5rem;
        height: 1.5rem;
      }

      @include breakpoint(mobile) {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}

.modal-success {
  .modal__inner {
    padding: 10rem 7rem 10.6rem 9rem;

    background: var(--accent-color) url("../img/wheat.svg") no-repeat center;
    background-size: cover;

    color: #fff;

    @include breakpoint(tablet) {
      padding: 9rem 7rem;
    }

    @include breakpoint(small-tablet) {
      padding: 5rem;
    }

    @include breakpoint(mobile) {
      padding: 5rem 2rem;
    }
  }

  &__title {
    font: var(--regular) 20rem/75% var(--secondary-ff);
    margin-bottom: 7rem;

    @include breakpoint(tablet) {
      font-size: 11rem;
      margin-bottom: 5.6rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 10rem;
      margin-bottom: 4.6rem;
    }

    @include breakpoint(mobile) {
      font-size: 8rem;
      margin-bottom: 3rem;
    }
  }

  &__button {
    height: 4rem;
    padding: 0 5rem;

    font: var(--text-t4);
    text-transform: uppercase;


    @include breakpoint(mobile) {
      height: 3rem;
      padding: 0 2rem;
    }
  }
}

.modal-product {
  .modal__container {
    @include breakpoint(tablet) {
      display: block;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 59.4rem 1fr;
    gap: 5rem;
    margin-bottom: 5rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      margin-bottom: 3.4rem;
      gap: 0;
    }

    @include breakpoint(mobile) {
      margin-bottom: 3rem;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    border-radius: 2rem;
    background-color: var(--bg-color);

    img {
      width: 100%;
      max-width: 90%;
      max-height: 90%;
    }

    @include breakpoint(tablet) {
      height: 45rem;
      margin-bottom: 3rem;
    }

    @include breakpoint(small-tablet) {
      height: 35rem;
    }

    @include breakpoint(mobile) {
      height: 18.7rem;
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include breakpoint(tablet) {
      display: contents;
    }
  }

  &__main-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint(tablet) {
      order: -1;
      margin-bottom: 4rem;
      gap: 2.6rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 3rem;
      gap: 2.4rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 2rem;
      gap: 2rem;
    }
  }

  &__title {
    font: var(--semi-bold) 3rem/120% var(--main-ff);
    text-transform: uppercase;
    color: var(--title-color);

    @include breakpoint(tablet) {
      font-size: 2.8rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 2.4rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.8rem;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    font: var(--text-t2);
    color: var(--text-color);
  }

  &__property {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint(tablet) {
      gap: 2.6rem;
    }

    @include breakpoint(small-tablet) {
      gap: 2.4rem;
    }

    @include breakpoint(mobile) {
      gap: 2rem;
    }
  }

  &__property-title {
    font: var(--text-t3);
    color: var(--title-color);
  }

  &__property-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--stroke-color);

    font: var(--text-t4);
    color: var(--text-color);

    @include breakpoint(small-tablet) {
      gap: 1rem;
    }

    @include breakpoint(mobile) {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &__property-value {
    color: var(--title-color);
  }

  &__guarantee-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;

    @include breakpoint(small-tablet) {
      gap: 4.6rem;
    }

    @include breakpoint(mobile) {
      gap: 1rem 4.2rem;
    }
  }

  &__guarantee-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    font: var(--text-t3);
    color: var(--accent-color);

    @include breakpoint(tablet) {
      font-size: 1.6rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 1.4rem;
    }

    @include breakpoint(mobile) {
      gap: 1rem;
    }
  }

  &__guarantee-img {
    width: 3.2rem;
    height: 3.2rem;
  }

  &__guarantee-desc {
    font: var(--text-t5);
    color: var(--text-color);
  }

  &__footer-title {
    margin-bottom: 3rem;

    font: var(--text-t1);
    color: var(--title-color);

    @include breakpoint(small-tablet) {
      margin-bottom: 2.4rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__slider-container {
    position: relative;
  }

  &__slide {
    height: 25.3rem;

    border-radius: 2rem;
    overflow: hidden;

    @include breakpoint(tablet) {
      height: 22rem;
    }

    @include breakpoint(small-tablet) {
      height: 20rem;
    }

    @include breakpoint(mobile) {
      height: 17.6rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slider-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -2.7rem;
    right: -2.7rem;
    z-index: 1;

    @include breakpoint(small-tablet) {
      opacity: 0;
      visibility: hidden;
    }
  }

  .slider-navigation__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    width: 5.7rem;
    height: 5.7rem;

    &.js-next-slide {
      right: 0;
      left: auto;
      transform: translateY(-50%) rotate(180deg);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.modal-menu {
  height: calc(var(--vh, 1vh) * 100);

  @include breakpoint(tablet) {
    align-items: flex-start;
    overflow: hidden;
  }

  .modal__container {
    margin-top: 0;

    @include breakpoint(tablet) {
      padding: 0;
    }
  }

  .modal__inner-container {
    position: relative;
  }

  .modal__inner {
    max-height: 85vh;
    transform: translateZ(0);
    padding-bottom: 0;
    overflow: hidden;
    min-height: 20rem;
    -webkit-overflow-scrolling: touch;

    @include breakpoint(tablet) {
      overflow: scroll;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
    height: calc(100% + 1px);

    overflow-y: auto;

    min-width: 120rem;

    @include breakpoint(tablet) {
      gap: 4.4rem;
      overflow: visible;
      padding-bottom: 0;
    }

    @include breakpoint(small-tablet) {
      gap: 4rem;
    }

    @include breakpoint(mobile) {
      gap: 3.5rem;
      min-width: 54.8rem;
    }
  }

  &__content-block {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &:last-child {
      .modal-menu__list {
        margin-bottom: 3rem;
      }
    }

    @include breakpoint(small-tablet) {
      gap: 2.4rem;
    }

    @include breakpoint(mobile) {
      gap: 2rem;
    }
  }

  &__title {
    font: var(--semi-bold) 3rem/120% var(--main-ff);
    text-transform: uppercase;
    color: var(--title-color);

    @include breakpoint(tablet) {
      font-size: 2.8rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 2.4rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.8rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 0;
    border-bottom: 1px solid rgba(11, 16, 12, 0.1);

    font: var(--text-t4);

    &:first-child {
      padding-top: 0;

      text-transform: uppercase;
      color: var(--title-color);

      @include breakpoint(mobile) {
        font-size: 0.8rem;
      }
    }

    span {
      grid-column: span 1;
    }

    span:last-child {
      grid-column: span 2;

      @include breakpoint(mobile) {
        grid-column: span 1;
      }
    }

    @include breakpoint(mobile) {
      grid-template-columns: repeat(10, 1fr);

      span:first-child,
      span:nth-child(4) {
        grid-column: span 2;
      }

      span:last-child {
        grid-column: span 4;
      }
    }
  }
}

.modal-gallery {
  .modal__container {
    max-width: 119.8rem;
  }

  .modal__inner {
    display: flex;
    flex-direction: column;
    padding: 5rem;

    @include breakpoint(tablet) {
      padding: 4.5rem 4rem;
    }

    @include breakpoint(small-tablet) {
      padding: 4rem 2.5rem;
    }

    @include breakpoint(mobile) {
      padding: 3rem 1.5rem;
    }
  }

  &__slider-container {
    min-width: 0;
  }

  &__slider {
    margin-bottom: 2rem;

    border-radius: 2rem;
    overflow: hidden;

    @include breakpoint(mobile) {
      overflow: visible;
    }
  }

  &__slide {
    padding-top: 59.10%;

    @include breakpoint(mobile) {
      padding-top: 71.51%;

      border-radius: 2rem;
      overflow: hidden;
    }

    img, iframe {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slider-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
    right: 1.5rem;
    z-index: 1;

    @include breakpoint(small-tablet) {
      opacity: 0;
      visibility: hidden;
    }
  }

  .slider-navigation__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    width: 5.7rem;
    height: 5.7rem;

    &.js-next-slide {
      right: 0;
      left: auto;

      svg {
        transform: rotate(180deg);
        transform-origin: center;
      }
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__title {
    margin-bottom: 0.5rem;

    font: var(--semi-bold) 3rem/120% var(--main-ff);
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--title-color);

    @include breakpoint(tablet) {
      font-size: 2.6rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 2.2rem;
    }

    @include breakpoint(mobile) {
      order: -1;
      margin-bottom: 2rem;

      font-size: 1.8rem;
    }
  }

  &__download {
    display: flex;
    align-items: center;
    gap: 1rem;

    font: var(--text-t3);
    color: var(--text-color);

    cursor: pointer;

    svg {
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  &__size {
    display: inline-block;
    margin-bottom: 2.3rem;

    font: var(--text-t5);

    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__sub-slider-container {
    min-width: 0;
  }

  &__sub-slider {
    .swiper-wrapper {
      gap: 1rem;
      flex-wrap: wrap;
      transform: none !important;
    }
  }

  &__sub-slide {
    width: 9.8rem;

    opacity: 0.4;

    transition: 0.3s;

    @include breakpoint(tablet) {
      width: 9rem;
    }

    @include breakpoint(small-tablet) {
      width: 8rem;
    }

    @include breakpoint(mobile) {
      width: 7.5rem;
    }

    &.swiper-slide-thumb-active {
      opacity: 1;
    }

    .video-button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      width: 3.5rem;
      height: 3.5rem;

      &::before {
        width: 2.5rem;
        height: 2.5rem;
      }

      &__text {
        display: none;
      }
    }
  }

  &__sub-slide-img {
    position: relative;

    padding-top: 66.32%;

    border-radius: 1rem;
    overflow: hidden;


    @include breakpoint(mobile) {
      padding-top: 66.66%;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}