.news-single {
  display: flex;
  flex-direction: column;
  padding-bottom: 15rem;

  @include breakpoint(tablet) {
    padding-bottom: 12rem;
  }

  @include breakpoint(small-tablet) {
    padding-bottom: 10rem;
  }

  @include breakpoint(mobile) {
    padding-bottom: 8rem;
  }

  .container {
    @include breakpoint(mobile) {
      order: -1;
    }
  }


  .narrow-container {
    @include breakpoint(mobile) {
      order: -1;
    }
  }

  .breadcrumbs {
    margin-bottom: 3.7rem;

    @include breakpoint(tablet) {
      margin-bottom: 3.2rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 3rem;
    }

    @include breakpoint(mobile) {
      margin-top: 2rem;
      margin-bottom: 2.6rem;
    }
  }

  .img-container {
    margin-bottom: 5rem;

    @include breakpoint(tablet) {
      margin-bottom: 4rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 3.5rem;
    }

    @include breakpoint(mobile) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  .meta {
    margin-bottom: 5rem;

    @include breakpoint(tablet) {
      margin-bottom: 4rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 3rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }

    &__tag {
      @include breakpoint(mobile) {
        padding-top: 0.2rem;
        font-size: 1.2rem;
      }
    }
  }

  .video {
    margin-top: 5rem;

    @include breakpoint(tablet) {
      margin-top: 4rem;
    }

    @include breakpoint(small-tablet) {
      margin-top: 3rem;
    }

    @include breakpoint(mobile) {
      margin-top: 2rem;
    }
  }
}