.news-single {
  padding-bottom: 15rem;

  .breadcrumbs {
    margin-bottom: 3.7rem;
  }

  .img-container {
    margin-bottom: 5rem;
  }

  .meta {
    margin-bottom: 5rem;
  }

  .video {
    margin-top: 5rem;
  }
}