.page-header {
  display: flex;
  padding-top: var(--header-height);
  padding-bottom: 5rem;
  min-height: 100vh;

  color: #fff;

  @include breakpoint(tablet) {
    padding-bottom: 4rem;
  }

  @include breakpoint(small-tablet) {
    padding-bottom: 3rem;
  }

  @include breakpoint(mobile) {
    padding-bottom: 2rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%;

    @include breakpoint(small-tablet) {
      gap: 4.3rem;
    }
  }
  
  .breadcrumbs__item {
    color: #fff;
    
    &::after {
      background-color: #fff;
      opacity: 1;
    }
  }

  &__title {
    margin-top: auto;

    font: var(--regular) 25rem/75% var(--secondary-ff);
    overflow-wrap: break-word;

    @include breakpoint(tablet) {
      font-size: 16rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 12rem;
    }

    @include breakpoint(mobile) {
      font-size: 9rem;
    }

    br {
      display: none;

      @include breakpoint(mobile) {
        display: block;
      }
    }
  }
}