.team {
  padding-bottom: 15rem;

  @include breakpoint(tablet) {
    padding-bottom: 12rem;
  }

  @include breakpoint(small-tablet) {
    padding-bottom: 10rem;
  }

  @include breakpoint(mobile) {
    padding-bottom: 8rem;
  }

  .breadcrumbs {
    margin-bottom: 3.7rem;

    @include breakpoint(mobile) {
      margin-top: 1rem;
      margin-bottom: 4rem;
    }
  }

  .links-list {
    margin-bottom: 5.8rem;

    @include breakpoint(tablet) {
      margin-bottom: 5rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 4.5rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 4rem;
    }
  }

  &__title {
    margin-bottom: 7rem;

    font: var(--regular) 25rem/75% var(--secondary-ff);
    color: var(--title-color);

    @include breakpoint(tablet) {
      margin-bottom: 6rem;
      font-size: 18rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 5rem;
      font-size: 13rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 4rem;
      font-size: 9rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem 5.4rem;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
    }

    @include breakpoint(small-tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }

    @include breakpoint(mobile) {
      gap: 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &:first-child {
      grid-column: span 2;
      flex-direction: row;
      gap: 0;

      .team__item-img-block {
        width: 100%;
        max-width: 38rem;
        min-width: 16.4rem;
      }

      .team__item-img {
        padding-top: 166.05%;
        border-radius: 2rem 0 0 2rem;

        @include breakpoint(mobile) {
          padding-top: 166.46%;
        }
      }

      .team__item-content {
        padding: 5rem 1.1rem 3.5rem 3.5rem;

        border-radius: 0 2rem 2rem 0;
        background-color: var(--light-bg-color);

        @include breakpoint(tablet) {
          padding: 4rem 1.1rem 3rem 3rem;
        }

        @include breakpoint(small-tablet) {
          padding: 3rem 1.1rem 2.5rem 2.5rem;
        }

        @include breakpoint(mobile) {
          padding: 2rem 1.1rem 2rem 1.1rem;
        }
      }
    }
  }

  &__item-img {
    position: relative;

    height: 100%;
    padding-top: 143.41%;

    border-radius: 2rem;
    overflow: hidden;

    @include breakpoint(mobile) {
      padding-top: 146.05%;
      border-radius: 1rem;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint(mobile) {
      gap: 0.5rem;
    }
  }

  &__item-text {
    position: relative;

    padding: 7rem 0 0 1.8rem;

    font: var(--text-t2);
    color: var(--title-color);

    @include breakpoint(tablet) {
      padding: 5rem 0 0 2rem;
    }

    @include breakpoint(small-tablet) {
      padding: 3rem 0 0 2rem;
    }

    @include breakpoint(mobile) {
      padding: 1.2rem 0 0 2.2rem;
      font-size: 1.4rem;
    }

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 0;

      width: 10.2rem;
      height: 9.4rem;

      background: url("../img/team-quotes.svg") no-repeat center;
      background-size: cover;

      @include breakpoint(tablet) {
        width: 8rem;
        height: 7.5rem;
      }

      @include breakpoint(small-tablet) {
        width: 5rem;
        height: 4.5rem;
      }

      @include breakpoint(mobile) {
        width: 3rem;
        height: 2.5rem;
      }
    }
  }

  &__item-title {
    margin-top: auto;

    font: var(--text-t1);
    color: var(--title-color);

    span {
      display: block;
    }
  }

  &__item-position {
    font: var(--text-t4);

    span {
      display: block;

      @include breakpoint(mobile) {
        display: none;
      }
    }
  }
}