@font-face {
	font-family: 'Oniks';
	font-weight: 400;
	font-style: normal;
	src: url('./Oniks.otf');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    src: url('./Raleway-Medium.ttf'),
    url('./Raleway-Medium.woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    src: url('./Raleway-Regular.ttf'),
    url('./Raleway-Regular.woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
    src: url('./Raleway-SemiBold.ttf'),
    url('./Raleway-SemiBold.woff');
}