<a class="download-link">
    <div class="download-link__content">
        <span class="download-link__text">скачать полный прайс-лист</span>
        <span class="download-link__size">5 мб PDF</span>
    </div>
    <div class="download-link__icon">
        <img class="lazyload" data-src="img/download-icon.svg" alt="Иконка скачивания">
    </div>
</a>