<div class="features-slider js-section">
    <div class="features-slider__wrapper js-section-wrapper">
        {{#each data }}
            <div class="features-slider__slide">
                <div class="features-slider__content">
                    <h3><span>{{this.title}}</span></h3>
                    <p>{{{this.text}}}</p>
                </div>
                <div class="features-slider__slide-img-block">
                    <div class="features-slider__slide-img">
                        <img src="{{this.img}}" alt="Фото преимущества">
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>