<div class="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="header__logo" href="/index.html">
                <img src="img/logo.png" alt="Логотип РМ Агро">
            </a>
            <nav class="header__nav">
                <div class="header__column">
                    <ul class="header__menu">
                        {{#each menuLeft }}
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="{{this.href}}">{{this.text}}</a>
                            </li>
                        {{/each}}
                    </ul>
                    <button class="header__burger" type="button"></button>
                </div>
                <div class="header__column">
                    <ul class="header__menu">
                        {{#each menuRight }}
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="{{this.href}}">{{this.text}}</a>
                            </li>
                        {{/each}}
                    </ul>
                    <a class="header__phone border-button" href="tel:+79061201515">+7 906 120-15-15</a>
                </div>
            </nav>
        </div>
    </div>
</div>