<div class="link-block">
    <div class="link-block__text">
        <p>{{text}}</p>
    </div>
    <a class="link-block__link button {{buttonMod}}" href="#">
        <span>{{buttonText}}</span>
        <svg>
            <use xlink:href="#link-arrow-icon"></use>
        </svg>
    </a>
</div>