<div class="numbers-slider js-section" data-tablet="true">
    <div class="numbers-slider__wrapper js-section-wrapper">
        {{#each data }}
            <div class="numbers-slider__slide">
                <p class="numbers-slider__text">{{this.text}}</p>
                <span class="numbers-slider__number">{{this.number}}</span>
            </div>
        {{/each}}
    </div>
</div>