<div class="numbers-slider swiper js-init-slider js-init-slider-small-tablet" data-slides="auto" data-spaces="280:0,769:90,1025:180">
    <div class="swiper-wrapper">
        {{#each data }}
            <div class="numbers-slider__slide swiper-slide">
                <p class="numbers-slider__text">{{this.text}}</p>
                <span class="numbers-slider__number">{{this.number}}</span>
            </div>
        {{/each}}
    </div>
</div>