<section class="page-header" style="background: url('{{this.bg}}') no-repeat center; background-size: cover;">
    <div class="container">
        <div class="page-header__inner">
            {{> breadcrumbs data=breadcrumbs }}
            {{> links-list data=linksData mod='links-list--white' }}
            <h1 class="page-header__title">{{title}}</h1>
        </div>
    </div>
</section>