<form class="section-filter" action="#">
    <div class="section-filter__radio-block">
        <input class="section-filter__radio visually-hidden" id="sectionRadio1" name="sectionRadio" type="radio" checked>
        <label for="sectionRadio1" class="section-filter__label">{{this.label1}}</label>
    </div>
    <div class="section-filter__radio-block">
        <input class="section-filter__radio visually-hidden" id="sectionRadio2" name="sectionRadio" type="radio">
        <label for="sectionRadio2" class="section-filter__label">{{this.label2}}</label>
    </div>
</form>