<a class="section-video" data-src="https://youtu.be/e-Y7jWF1ATo" data-fancybox>
    <h2 class="section-video__title">{{{title}}}</h2>
    <img class="section-video__preview lazyload" data-src="{{preview}}" alt="Превью видео">
    {{> video-button }}
</a>