<div class="section-header">
    <div class="section-header__top">
        <h2 class="section-header__title section-title">{{title}}</h2>
    </div>
    <div class="section-header__line"></div>
</div>