<div class="table">
    <div class="table__content">
        <div class="table__content-block">
            <h3 class="table__title">субпродукты</h3>
            <ul class="table__list">
                <li class="table__item">
                    <span>Наименование</span>
                    <span>вес</span>
                    <span>ед.изм</span>
                    <span>ср. вес единицы</span>
                    <span>Стандарт</span>
                </li>
                {{#each subProducts }}
                    <li class="table__item">
                        <span>Наименование</span>
                        <span>1,000</span>
                        <span>кг</span>
                        <span>1,80</span>
                        <span>ТУ 10.13.14–001–61806639–2020</span>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="table__content-block">
            <h3 class="table__title">халяль</h3>
            <ul class="table__list">
                <li class="table__item">
                    <span>Наименование</span>
                    <span>вес</span>
                    <span>ед.изм</span>
                    <span>ср. вес единицы</span>
                    <span>Стандарт</span>
                </li>
                {{#each halal }}
                    <li class="table__item">
                        <span>Наименование</span>
                        <span>1,000</span>
                        <span>кг</span>
                        <span>1,80</span>
                        <span>ТУ 10.13.14–001–61806639–2020</span>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="table__content-block">
            <h3 class="table__title">вырезка</h3>
            <ul class="table__list">
                <li class="table__item">
                    <span>Наименование</span>
                    <span>вес</span>
                    <span>ед.изм</span>
                    <span>ср. вес единицы</span>
                    <span>Стандарт</span>
                </li>
                {{#each clipping }}
                    <li class="table__item">
                        <span>Наименование</span>
                        <span>1,000</span>
                        <span>кг</span>
                        <span>1,80</span>
                        <span>ТУ 10.13.14–001–61806639–2020</span>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>