<button class="video-button" type="button">
    <span class="video-button__text">
        3 мин &nbsp;     3 мин &nbsp;    3 мин &nbsp;    3 мин &nbsp;    3 мин &nbsp;    3 мин &nbsp;    3 мин &nbsp;    3 мин &nbsp;    3 мин &nbsp;
    </span>
    <svg class="video-button__icon">
        <use xlink:href="#arrow-icon"></use>
    </svg>
</button>