<button class="video-button" type="button">
    <span class="video-button__text">
        3 мин 3 мин 3 мин 3 мин 3 мин 3 мин 3 мин 3 мин 3 мин
    </span>
    <svg class="video-button__icon">
        <use xlink:href="#arrow-icon"></use>
    </svg>
</button>