<div class="modal js-modal" id="{{id}}">
  <div class="modal__container">
    <div class="modal__inner">
      <button class="modal__close js-close-modal" type="button" title="Закрыть">X</button>
      <div class="modal__content">
        {{#block "content"}}

        {{/block}}
      </div>
    </div>
  </div>
</div>

<div class="modal modal-success js-modal js-modal-success active" id="{{id}}">
    <div class="modal__container">
        <div class="modal__inner">
            <h3 class="modal-success__title">Ваша заявка успешно отправлена!</h3>
            <button class="modal-success__button button button--white js-close-modal">закрыть</button>
        </div>
    </div>
</div>