{{#extend "layout"}}
    {{#content "main"}}

        {{> page-header title='О холдинге' bg='img/company-bg.jpg' }}
        <section class="company__about">
            <div class="container">
                {{> section-header dot=true title='компания сегодня' }}
            </div>
            <div class="narrow-container">
                <h2>
                    В настоящее время Агропромышленный холдинг ООО «РМ АГРО» включает в себя комплекс предприятий
                    по выращиванию кормов, животноводству и сбыту молочной и мясной продукции под торговой маркой «РМ»
                </h2>
                <p>
                    Пашня, молочно-товарные фермы и мясоперерабатывающий комбинат построены в Мамадышском районе
                    Республики Татарстан. Непосредственная близость объектов и производство полного цикла упрощают
                    обработку данных для максимально продуктивной работы всех составляющих холдинга.
                </p>
                <p>
                    В основе работы компании лежат принципы экологичности и полного контроля качества продукции на всех
                    этапах производства. Используются технологии, построенные на базе израильских систем управления
                    стадом и кормовым центром. Сочетание современных приборов и программного обеспечения позволяют
                    гарантировать получение натурального сырья высшего сорта.
                </p>
                {{> numbers-slider data=numbers }}
            </div>
        </section>
        <section class="company__video">
            <div class="container">
                {{> section-video title='Видео о компании' preview='img/company-video.jpg' }}
            </div>
        </section>

    {{/content}}
{{/extend}}

<!--

  @include breakpoint(tablet) {

  }

  @include breakpoint(small-tablet) {

  }

  @include breakpoint(mobile) {

  }

-->