*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-variant-numeric: lining-nums !important;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

address {
    font-style: normal;
}

html {
    padding-top: var(--header-height);
    box-sizing: border-box;
    font-size: clamp(4.2px, 0.60vw, 25px);
    -webkit-text-size-adjust: 100%;

    @include noHighlight();

    @media (max-width: 1536px) {
        font-size: 9px;
    }

    @media (max-width: 1440px) {
        font-size: 8px;
    }

    @media (max-width: 1199px) {
        font-size: 7.5px;
    }

    @include breakpoint(tablet) {
        font-size: 10px;
    }

    @media (min-width: 1680px) {
        font-size: 10px;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--bg-color);

    font: var(--text-t2);
    font-variant-numeric: lining-nums;
    color: var(--text-color);

    &.white {
        background-color: #fff;
    }
}

main {
    display: block;
}

ul,
ol {
    list-style: none;
}

ol {
    counter-reset: ordered-list;
    & > li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list, decimal-leading-zero) '.';
        }
    }
}

input,
textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}

input:not([type='checkbox']):not([type='radio']) {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    box-shadow: none;
    display: block;
    width: 100%;
    overflow: auto;
    height: 20rem;
    @include customScrollbar();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    outline: none;
    display: inline-flex;
    position: relative;
    transition: color 0.2s;
}

a {
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s;
    color: inherit;
}

svg {
    flex-shrink: 0;
    display: block;

    user-select: none;
    fill: currentColor;
    transition: fill 0.2s;
}

img {
    border-style: none;
    max-width: 100%;
    display: block;

    user-select: none;
}

img[data-sizes='auto'] {
    display: block;
    width: 100%;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: 400;
}

td,
th {
    text-align: left;
    vertical-align: top;
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    body {
        height: auto;
        overflow: hidden;
    }
}

::selection {

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
}
