.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.button {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.6rem;

    border: 1px solid transparent;
    border-radius: 4rem;
    cursor: pointer;

    font: var(--text-t4);
    text-transform: uppercase;

    &--white {
        background-color: #fff;
        border-color: #fff;
        color: #000;

        transition: $base-transition-time;

        &:hover {
            color: #fff;
            background-color: #000;
            border-color: #000;
        }
    }

    &--green {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: #fff;
    }
}

.more-button {
    justify-content: center;
    width: 100%;
    max-width: 89.7rem;
    height: 6rem;
    margin: 0 auto;

    border-radius: 4rem;

    font: var(--medium) 3rem/120% var(--main-ff);
    text-transform: uppercase;
    color: #38271F;
}

.input {
    display: flex;
    align-content: center;
    padding: 0 2.5rem;
    height: 6rem;

    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.6);

    font: var(--text-t2);
    color: rgba(251, 251, 251, 0.8);
    text-transform: uppercase;

    @include breakpoint(tablet) {
        height: 5rem;
    }

    @include breakpoint(small-tablet) {
        padding: 0 2rem;
    }

    @include breakpoint(mobile) {
        height: 4.5rem;
        font-size: 1.2rem;
    }
    
    @include placeholder() {
        font: var(--text-t2);
        color: rgba(251, 251, 251, 0.8);
        text-transform: uppercase;

        @include breakpoint(mobile) {
            font-size: 1.2rem;
        }
    }
}

.textarea {
    @extend .input;

    height: auto;
    padding: 2rem 2.5rem;

    @include breakpoint(small-tablet) {
        padding: 1.6rem 2rem;
    }
}

.checkbox {
    @extend .visually-hidden;

    & + label {
        display: flex;
        align-items: center;
        gap: 1rem;

        cursor: pointer;

        font: var(--text-t5);
        opacity: 0.8;

        &::before {
            content: '';

            width: 2rem;
            height: 2rem;

            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 0.4rem;
            
            transition: 0.3s;
        }
    }

    &:checked + label::before {
        background: url("../img/check-icon.svg") no-repeat center;
        background-size: 1.5rem 1.5rem;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section-title {
    font: var(--title-h4);
    color: var(--title-color);
    text-transform: uppercase;
}

.main-title {
    font: var(--title-h1);
    text-transform: uppercase;
}