.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.narrow-container {
    width: 100%;
    max-width: calc(var(--max-narrow-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }

    & > h1 {
        margin-bottom: 2rem;

        font: var(--title-h3);
        text-transform: uppercase;
        color: var(--title-color)
    }

    & > h2 {
        margin-bottom: 5rem;

        font: var(--title-h3);
        text-transform: uppercase;
        color: var(--title-color);

        @include breakpoint(tablet) {
            margin-bottom: 4rem;
        }

        @include breakpoint(small-tablet) {
            margin-bottom: 3rem;
        }

        @include breakpoint(mobile) {
            margin-bottom: 2rem;
        }
    }

    & > p {
        margin-bottom: 2rem;

        font: var(--text-t2);
    }
}

.text-container {
    width: 100%;
    max-width: calc(var(--max-narrow-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);

    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }

    & > * {
        max-width: 79rem;
    }

    & > p {
        margin-bottom: 2rem;
        font: var(--text-t2);
    }

    h2 {
        margin: 8rem 0 2.2rem;

        font: var(--semi-bold) 3.5rem/120% var(--main-ff);
        color: var(--title-color);

        @include breakpoint(tablet) {
            margin: 7rem 0 2rem;
            font-size: 3.2rem;
        }

        @include breakpoint(small-tablet) {
            margin: 6.5rem 0 2rem;
            font-size: 3rem;
        }

        @include breakpoint(mobile) {
            margin: 6rem 0 2rem;
            font-size: 2.5rem;
        }
    }

    h3 {
        margin: 8rem 0 3rem;

        font: var(--text-t1);
        color: var(--title-color);

        @include breakpoint(tablet) {
            margin: 7rem 0 2.5rem;
        }

        @include breakpoint(small-tablet) {
            margin: 6.5rem 0 2rem;
        }

        @include breakpoint(mobile) {
            margin: 6rem 0 2rem;
        }
    }

    & > .img {
        display: block;
        margin: 5rem 0 5.6rem;
        width: 100%;
        height: 56.3rem;
        object-fit: cover;

        border-radius: 2rem;
        overflow: hidden;
        cursor: pointer;

        @include breakpoint(tablet) {
            margin: 4rem 0;
            height: 45rem;
        }

        @include breakpoint(small-tablet) {
            margin: 3rem 0;
            height: 35rem;
        }

        @include breakpoint(mobile) {
            margin: 2rem 0;
            height: 21.1rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include breakpoint(tablet) {
            gap: 1.8rem;
        }

        @include breakpoint(small-tablet) {
            gap: 1.4rem;
        }

        @include breakpoint(mobile) {
            gap: 1rem;
        }

        li {
            display: flex;
            align-items: flex-start;
            gap: 1.5rem;

            font: var(--text-t4);

            &::before {
                content: '';

                width: 0.5rem;
                height: 0.5rem;
                margin-top: 0.7rem;
                flex-shrink: 0;
                
                border-radius: 50%;
                background-color: var(--text-color);
            }
        }
    }
}

.text-lead {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

    p {
        font: var(--text-t1);
    }
}

.img-container {
    max-width: calc(114.4rem + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }

    &__img {
        position: relative;

        width: 100%;
        padding-top: 59.61%;

        border-radius: 2rem;
        overflow: hidden;

        @include breakpoint(mobile) {
            padding-top: 63.55%;
        }
    }

    img {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.blockquote {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3.5rem 5.7rem 3.5rem 3.5rem;

    border-radius: 2rem;
    background-color: var(--bg-color);
    overflow: hidden;

    @include breakpoint(tablet) {
        gap: 4rem;
        padding: 3rem 4rem 3rem 3rem;
    }

    @include breakpoint(small-tablet) {
        gap: 3.5rem;
        padding: 2.5rem 3rem 2.5rem 2.5rem;
    }

    @include breakpoint(mobile) {
        gap: 3rem;
        padding: 2rem 1rem 2rem 2rem;
    }
    
    &__top {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 2rem;

        @include breakpoint(tablet) {
            gap: 1.5rem;
        }

        @include breakpoint(small-tablet) {
            gap: 1rem;
        }

        @include breakpoint(mobile) {
            gap: 0.2rem;
        }
    }

    &__img {
        width: 12.4rem;
        height: 11.8rem;

        border-radius: 50%;
        overflow: hidden;

        @include breakpoint(tablet) {
            width: 10.5rem;
            height: 10.5rem;
        }

        @include breakpoint(small-tablet) {
            width: 9.5rem;
            height: 9.5rem;
        }

        @include breakpoint(mobile) {
            width: 8.4rem;
            height: 8.4rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        position: relative;

        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        padding: 3.3rem 0 0 4.4rem;

        @include breakpoint(tablet) {
            padding: 2.5rem 0 0 3.5rem;
        }

        @include breakpoint(small-tablet) {
            padding: 2rem 0 0 3rem;
        }

        @include breakpoint(mobile) {
            padding: 1.2rem 0 0 2.2rem;
        }

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 6.9rem;
            height: 6.9rem;

            background: url("../img/quotes.svg") no-repeat center;
            background-size: cover;

            @include breakpoint(tablet) {
                width: 6rem;
                height: 6rem;
            }

            @include breakpoint(small-tablet) {
                width: 5rem;
                height: 5rem;
            }

            @include breakpoint(mobile) {
                width: 4rem;
                height: 4rem;
            }
        }

        p {
            font: var(--text-t1);
        }
    }

    &__author {
        display: flex;
        flex-direction: column;
        gap: 0.2rem
    }

    &__author-name {
        font: var(--text-t1);
        color: var(--title-color);
    }

    &__author-position {
        font: var(--text-t2);
    }
}

.video {
    display: block;

    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .video-button {
            transform: translate(-50%, -50%) scale(1.2);
        }
    }

    &__block {
        position: relative;

        width: 100%;
        padding-top: 71.26%;

        @include breakpoint(mobile) {
            padding-top: 63.55%;
        }
    }

    .video-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        width: 9.8rem;
        height: 9.8rem;

        transition: 0.3s;

        @include breakpoint(tablet) {
            width: 8rem;
            height: 8rem;
        }

        @include breakpoint(small-tablet) {
            width: 7rem;
            height: 7rem;
        }

        @include breakpoint(mobile) {
            width: 6.1rem;
            height: 6.1rem;
        }

        svg {
            width: 3.9rem;
            height: 4.7rem;

            @include breakpoint(tablet) {
                width: 3.2rem;
                height: 4rem;
            }

            @include breakpoint(small-tablet) {
                width: 2.8rem;
                height: 3.5rem;
            }

            @include breakpoint(mobile) {
                width: 2.4rem;
                height: 3rem;
            }
        }
    }

    img {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.button {
    display: flex;
    align-items: center;
    gap: 0;
    height: 3.5rem;
    padding: 0 1.6rem;

    border: 1px solid transparent;
    border-radius: 4rem;
    cursor: pointer;

    font: var(--text-t4);
    text-transform: uppercase;

    transition: 0.4s;

    &:hover {
        gap: 1rem;

        svg {
            width: 1.1rem;
        }
    }

    svg {
        transform: rotate(45deg);

        width: 0;
        height: 1.1rem;

        transition: 0.3s;
    }

    &--white {
        background-color: #fff;
        border-color: #fff;
        color: #000;

        transition: $base-transition-time;
    }

    &--green {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: #fff;
    }
}

.border-button {
    border: 1px solid transparent;

    transition: 0.4s;
    
    &--white {
        border: 1px solid #fff;
        color: #fff;
    }

    &--black {
        border: var(--title-color);
        color: var(--title-color);
    }

    &:hover {
        border-color: var(--accent-color);
        background-color: var(--accent-color);
        color: #fff;
    }
}

.video-button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.4rem;
    height: 17.4rem;

    background-size: cover;

    @include breakpoint(tablet) {
        width: 13rem;
        height: 13rem;
    }

    @include breakpoint(small-tablet) {
        width: 9rem;
        height: 9rem;
    }

    @include breakpoint(mobile) {
        width: 6rem;
        height: 6rem;
    }

    &__text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        font: var(--medium) 1.2rem/130% var(--main-ff);
        color: #fff;

        @include breakpoint(tablet) {
            transform: translate(-50%, -50%) scale(0.9);
        }

        @include breakpoint(small-tablet) {
            transform: translate(-50%, -50%) scale(0.8);
        }

        @include breakpoint(mobile) {
            transform: translate(-50%, -50%) scale(0.7);
        }
    }

    &__icon {
        width: 7rem;
        height: 8.4rem;
        margin-left: 9%;

        @include breakpoint(tablet) {
            width: 5.5rem;
            height: 6rem;
        }

        @include breakpoint(small-tablet) {
            width: 4rem;
            height: 4.5rem;
        }

        @include breakpoint(mobile) {
            width: 2.4rem;
            height: 2.9rem;
        }
    }
}

.link {
    transition: 0.3s;

    svg {
        transition: 0.3s;
    }

    &:hover {
        svg {
            transform: rotate(45deg);
        }
    }

    &--black {
        &:hover {
            color: var(--accent-color);
        }
    }

    &--white {
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }
    
    &--pale-white {
        color: #FDFCFC;
        
        &:hover {
            color: #fff;
        }
    }
}


.more-button {
    justify-content: center;
    width: 100%;
    max-width: 89.7rem;
    height: 6rem;
    margin: 0 auto;

    border-radius: 4rem;

    font: var(--text-t2);
    text-transform: uppercase;
    color: #38271F;

    @include breakpoint(tablet) {
        height: 5rem;
        font-size: 1.8rem;
    }

    @include breakpoint(small-tablet) {
        font-size: 1.6rem;
    }

    @include breakpoint(mobile) {
        height: 4.5rem;
        font-size: 1.4rem;
    }

    svg {
        height: 1.4rem;
    }

    &:hover svg {
        width: 1.4rem;
    }
}

.input {
    display: flex;
    align-content: center;
    padding: 0 2.5rem;
    height: 6rem;

    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.6);

    font: var(--text-t2);
    font-variant-numeric: lining-nums;
    color: rgba(251, 251, 251, 1);

    @include breakpoint(tablet) {
        height: 5rem;
    }

    @include breakpoint(small-tablet) {
        padding: 0 2rem;
    }

    @include breakpoint(mobile) {
        height: 4.5rem;
        font-size: 1.2rem;
    }
    
    @include placeholder() {
        font: var(--text-t2);
        font-variant-numeric: lining-nums;
        color: rgba(251, 251, 251, 0.8);
        text-transform: uppercase;

        @include breakpoint(mobile) {
            font-size: 1.2rem;
        }
    }
}

.input-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    label:not(.label-file) {
        position: absolute;
        left: 2.6rem;
        top: 1.7rem;

        font: var(--text-t2);
        color: rgba(251, 251, 251, 0.8);
        text-transform: uppercase;

        transition: 0.3s;

        &.active {
            top: 0.4rem;

            color: rgba(251, 251, 251, 0.2);

            font-size: 1.2rem;

            @include breakpoint(tablet) {
                top: 0.3rem;
                font-size: 1rem;
            }

            @include breakpoint(mobile) {
                font-size: 0.8rem;
            }
        }

        @include breakpoint(tablet) {
            top: 1.2rem;
        }

        @include breakpoint(small-tablet) {
            left: 2rem;
        }

        @include breakpoint(mobile) {
            font-size: 1.2rem;
        }
    }

    &:hover label {
        color: rgba(251, 251, 251, 0.2);
    }
}

.textarea {
    height: auto;
    padding: 2rem 2.5rem;

    @include breakpoint(small-tablet) {
        padding: 1.6rem 2rem;
    }
}

.checkbox {
    @extend .visually-hidden;

    & + label {
        display: flex;
        align-items: center;
        gap: 1rem;

        cursor: pointer;

        font: var(--text-t5);
        opacity: 0.8;

        transition: 0.3s;

        &:hover {
            opacity: 1;
            
            a {
                text-decoration: underline;
            }
        }

        &::before {
            content: '';

            width: 2rem;
            height: 2rem;

            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 0.4rem;
            
            transition: 0.3s;
        }
    }

    &:checked + label::before {
        background: url("../img/check-icon.svg") no-repeat center;
        background-size: 1.5rem 1.5rem;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section-title {
    font: var(--title-h4);
    color: var(--title-color);
    text-transform: uppercase;
}

.main-title {
    font: var(--title-h1);
    text-transform: uppercase;
}