.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.button {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.6rem;

    border: 1px solid transparent;
    border-radius: 4rem;
    cursor: pointer;

    font: var(--text-t4);
    text-transform: uppercase;

    &--white {
        background-color: #fff;
        border-color: #fff;
        color: #000;

        transition: $base-transition-time;

        &:hover {
            color: #fff;
            background-color: #000;
            border-color: #000;
        }
    }

    &--green {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: #fff;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section-title {
    font: var(--title-h4);
    color: var(--title-color);
    text-transform: uppercase;
}

.main-title {
    font: var(--title-h1);
    text-transform: uppercase;
}